
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #dbdada;
    height: 100vh;
    display: grid;
    
  }
  .classes-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
      grid-gap:40px;
      padding: 20px;
        
    }
    .container_card {
      max-width: 1200px; /* or any other value you want */
    }
    .create-class-modal input {
      border-radius: 8px;
      border: 1px solid #cccccc;
      padding: 8px;
      width: 100%;
    }
    .create-class-modal Button {
      font-size: 18px;
      border-radius: 8px;
      background-color: #4b6cb7;
      color: white;
      padding: 8px 16px;
      margin-top: 16px;
    }
    .create-class-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: white;
      padding: 16px;
      width: 400px;
      height: 50%;
    }
  
    
    
    .create-class-button {
      position: absolute;
      left: 50%;
      bottom: 16px;
      transform: translateX(-50%);
      font-size: 18px;
      border-radius: 8px;
      background-color: #4b6cb7;
      color: white;
      padding: 8px 16px;
    }
  
    .create-class-form .create-button {
      font-size: 18px;
      border-radius: 8px;
      background-color: white;
      color: #4b6cb7;
      padding: 8px 16px;
      margin-top: 16px;
      margin-right: 8px;
      border: 1px solid #cccccc;
    }
    
    .create-class-form .cancel-button {
      font-size: 18px;
      border-radius: 8px;
      background-color: white;
      color: #4b6cb7;
      padding: 8px 16px;
      margin-top: 16px;
      border: 1px solid #cccccc;
    }
  
  
  