.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* align elements on opposite ends of the nav bar */
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: #031c2e;
    border-width: 20px;
    
   
  }
  
  .profile-pic-container {
    margin-left: 16px; /* add left margin to align the profile pic container on the left side */
  }
  
  .profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 24px; /* half of the width and height to create a circular shape */
  }
  
  .navbar-title {
    margin: 0;
    font-size: 24px;
  }
  